$primary-color: #ff808b;
$secondary-color: #f6f5fc;
$bg-color: #fefefe;
$bg-color-2: #f5f5fa;
$text-color: #222831;
$secondary-text-color: #393e46;
$purple: #4e4cac;
$light-purple: #9698d5;
$light-gray: #e8eced;

$screen-lg: 1200px;
$screen-md: 775px;
$screen-sm: 550px;

